<!--Auth Jose Diego Alves Duarte-->
<!doctype html>
{% extends "base.html"%}
{% load static %}

{% block main %}

<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Plataforma para Tranparência Publica
                </h1>
                <h2 class="splash-subhead">
                    Este Site pela Tranparência vísa melhor informas os contribuites, para que desda maneira
                    eles possam melhor fiscalizar os recursos públicos.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Ultimas Noticias</h4>
            <h3>Fique por dentro de tudo</h3>
            <p>
                O site tem um conteudo bem organizado para melhor atende-lo, e desta maneira o possibilitar a observação da gestão pública
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
            alt="Vídeo aulas e materiais digitais.">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
            alt="Fórum de Dúvidas">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Fórum de Dúvidas</h4>
            <h3>Interaja com outros cidadãos</h3>
            <p>
                No Forum você pode junto a outras pessoas discutir como esta o andamento da gestão publica e melhor ficalizar estes recursos.
            </p>
        </div>
    </div>
</div>

{% endblock %}