<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ cidade.nameCidade }}</title>

  <!-- Bootstrap core CSS-->
  <link href="{% static 'bootstrap_Dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{% static 'bootstrap_Dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'bootstrap_Dashboard/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'bootstrap_Dashboard/css/sb-admin.css' %}" rel="stylesheet">
  
  <!-- js for date -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  <script src=" {% static 'jsCore/jsDate.js' %}"></script>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'cidades:details' cidade.slug %}">{{ cidade.nameCidade }}</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    
    <!-- Navbar Search 
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    Navbar Search -->

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">

    </ul>

  </nav>
<!-- Navbar -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'cidades:detalhado' cidade.slug %}" id="pagesDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>DashBoard</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
          <a class="dropdown-item" href="{% url 'cidades:detalhado' cidade.slug %}"><b>DashBoard</b></a>
          <h6 class="dropdown-header">Lista Gráficos</h6>
          <a class="dropdown-item" href="#productsChart1">Saúde / Educação</a>
          <a class="dropdown-item" href="#productsChart3">Admin. / Gest. Amb.</a>
          <a class="dropdown-item" href="#productsChart5">Cultura / Ass. Social</a>
          <a class="dropdown-item" href="#productsChart7">Sanem. / Agricul.</a>
          <a class="dropdown-item" href="#productsChart9">Transp. / Urban.</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'cidades:relatorio' cidade.slug %}" id="pagesDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-table"></i>
          <span>Relatórios</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown3">
          <a class="dropdown-item" href="{% url 'cidades:relatorio' cidade.slug %}"><b>Relatórios</b></a>
          <h6 class="dropdown-header">Lista de Tabelas</h6>
          <a class="dropdown-item" href="#id_tabela_orgao">Orgão</a>
          <a class="dropdown-item" href="#id_tabela_orgao_subfuncao">Sub-Função</a>
          <a class="dropdown-item" href="#id_tabela_orgao_diarias">Diarias</a>
          <a class="dropdown-item" href="#id_tabela_orgao_projeto">Projetos</a>
          <a class="dropdown-item" href="#id_tabela_orgao_elemento">Elementos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'cidades:grafico' cidade.slug %}" id="pagesDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Gráficos</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown2">
          <a class="dropdown-item" href="{% url 'cidades:grafico' cidade.slug %}"><b>Gráficos</b></a>
          <h6 class="dropdown-header">Comparativos/cidades</h6>
            <a class="dropdown-item" href="#id_orgao">Saude</a>
            <a class="dropdown-item" href="#id_funcao">Educação</a>
            <a class="dropdown-item" href="#id_subfuncao">Administração</a>
          <h6 class="dropdown-header">Gráficos Diversos</h6>
            <a class="dropdown-item" href="#orgao">Orgão</a>
            <a class="dropdown-item" href="#funcao">Função</a>
            <a class="dropdown-item" href="#subfuncao">Sub-Função</a>
            <a class="dropdown-item" href="#Projeto">Projetos</a>
            <a class="dropdown-item" href="#Diarias">Diarias</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'cidades:grafico' cidade.slug %}" id="pagesDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Anomalias</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown2">
          <a class="dropdown-item" href="{% url 'cidades:anomalias' cidade.slug %}"><b>Anomalias</b></a>
          <h6 class="dropdown-header">Lista de anomalias</h6>
          <a class="dropdown-item" href="#id_mediaSaude">Saúde</a>
          <a class="dropdown-item" href="#id_mediaEducacao">Educação</a>
          <a class="dropdown-item" href="#id_mediaAdm">Administração</a>
        </div>
      </li>
      
    </ul>
    
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Informações</li>
        </ol> -->
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p>Insira a data no formato <b> Dia/Mês/Ano </b> para buscar pelos dados {{olamundo}}</p>
            {% if is_valid %}
              <div class="alert alert-success">
                Busca Realisada com Sucesso: {{dataInicial}} à {{dataFinal}}
              </div>
            {% endif %}
            <form class="form-horizontal" action="" method="post">
              {% csrf_token %}
              <fieldset>
                {% for field in form %}
                  <div class="form-group {% if field.errors %} has-error{% endif %}">
                  <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
                  <div class="col-md-9">
                    {% render_field field %}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
              <div id="success"></div>
              <div class="form-group fixed">
                <button type="submit" class="btn btn-info " id="sendMessageButton">Buscar</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <!-- Area Chart Example-->

      <div class="card mb-3">
        <div class="card-header" id="id_orgao">
          <i class="fas fa-chart-area"></i>
        Saúde: abaixo podemos ver os gastos com saúde para cada cidade por habitante
        </div>
        <div class="card-body">
           <canvas id="productsChart12" width="200" height="100"></canvas>
        </div>
           <div class="chart-legend">
             <ul>
               <li class="atual">Cidade Atual</li>
               <li class="primeiro">Maior investimento</li>
               <li class="ultimo">Menor investimento</li>
               <li class="demais">Demais cidades</li>
             </ul>
           </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="card mb-3">
        <div class="card-header" id="id_orgao">
          <i class="fas fa-chart-area"></i>
        Educação: abaixo podemos ver os gastos com Educação para cada cidade por habitante
        </div>
        <div class="card-body">
           <canvas id="productsChart13" width="200" height="100"></canvas>
        </div>
           <div class="chart-legend">
             <ul>
               <li class="atual">Cidade Atual</li>
               <li class="primeiro">Maior investimento</li>
               <li class="ultimo">Menor investimento</li>
               <li class="demais">Demais cidades</li>
             </ul>
           </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="card mb-3">
        <div class="card-header" id="id_orgao">
          <i class="fas fa-chart-area"></i>
        Educação: abaixo podemos ver os gastos com Educação para cada cidade por habitante
        </div>
        <div class="card-body">
           <canvas id="productsChart14" width="200" height="100"></canvas>
        </div>
           <div class="chart-legend">
             <ul>
               <li class="atual">Cidade Atual</li>
               <li class="primeiro">Maior investimento</li>
               <li class="ultimo">Menor investimento</li>
               <li class="demais">Demais cidades</li>
             </ul>
           </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="card-header" id="orgao">
          <i class="fas fa-chart-area"></i>
        Orgãos</div>
        <div class="card-body">
          <canvas id="productsChart1" width="200" height="100"></canvas>
        </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header" id="funcao">
              <i class="fas fa-chart-bar"></i>
            Funções</div>
            <div class="card-body">
              <canvas id="productsChart2" width="200" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-pie"></i>
            Funções</div>
            <div class="card-body">
              <canvas id="productsChart3" width="200" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header" id="subfuncao">
          <i class="fas fa-chart-area"></i>
        Sub-Funções</div>
        <div class="card-body">
          <canvas id="productsChart4" width="200" height="100"></canvas>
        </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-text"></i>
            Sub-Funções</div>
            <div class="card-body">
              Acima podemos ver um gráfico horizontal com informações das Sub-funções da sua cidade,
              também a direita as mesmas informações são mostradas, mas agora em um grafico de pizza.
            </div>
            <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
          </div>
        </div>
        
        <div class="col-lg-8">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-pie"></i>
            Sub-Funções</div>
            <div class="card-body">
              <canvas id="productsChart5" width="200" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header" id="Projeto">
          <i class="fas fa-chart-area"></i>
        Projetos: abaixo temos os 20 projetos com maiores gastos.</div>
        <div class="card-body">
          <canvas id="productsChart6" width="200" height="100"></canvas>
        </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>

      <div class="card mb-3">
        <div class="card-header" id="Diarias">
          <i class="fas fa-chart-area"></i>
        Diarias: abaixo temos os 20 maiores gastos com diarias.</div>
        <div class="card-body">
          <canvas id="productsChart6.1" width="200" height="100"></canvas>
        </div>
        <div class="card-footer small text-muted">{{ cidade.nameCidade }}</div>
      </div>
      
    </div>

    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2018</span>
        </div>
      </div>
    </footer>
  </div>
  <!-- /.content-wrapper -->
  </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  <script src="{% static 'bootstrap_Dashboard/vendor/jquery/jquery.min.js' %}"></script> -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 
  <!-- Core plugin JavaScript-->
  <script src="{% static 'bootstrap_Dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaS cript-->
  <script src="{% static 'bootstrap_Dashboard/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'bootstrap_Dashboard/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'bootstrap_Dashboard/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'bootstrap_Dashboard/js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'bootstrap_Dashboard/js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'bootstrap_Dashboard/js/demo/chart-area-demo.js' %}"></script>

  <!-- jsCoreG -->
  <script src=" {% static 'jsCore/jsCoreG.js' %}"></script>
  <script src=" {% static 'jsCore/jsCoreT.js' %}"></script>


  <script>

  function graficoBarraV(titulo,valor,chartID){
    var ctx = document.getElementById(chartID);
    var names = JSON.parse(titulo);
    var prices = JSON.parse(valor);


    var productsChart = new Chart(ctx, {
      type: 'bar',

      data: {
        labels: names,
        datasets: [{
          label: 'Gastos R$',
          data: prices,
          backgroundColor: "#006400",
          borderColor: "006400",
          borderWidth: 1
        }]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        },
        legend: {
          display: false
        }
      },
    });
  }


  function graficoBarraH(titulo,valor,chartID){
    var ctx = document.getElementById(chartID);
    var names = JSON.parse(titulo);
    var prices = JSON.parse(valor);

    color=[]
    for (i=0;i<names.length;i++){

      if (i%2 == 0){
        color.push("#4B0082")
      }
      else{
        color.push("#00FF00")
      }
    }
    var productsChart = new Chart(ctx, {
      type: 'horizontalBar',
      
      data: {
        labels: names,
        datasets: [{
          label: 'Gastos R$',
          data: prices,
          backgroundColor: "#006400",
          borderColor: "006400",
          borderWidth: 1
        }]
      },
      options: {
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        },
        
        legend: {
          display: false
        },

        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
              var value = data.datasets[0].data[tooltipItem.index];
              var label = data.labels[tooltipItem.index];
              return converteFloatMoeda(value);
            }
          }
        }
      },
    });
  }

  function graficoBarraP(titulo,valor,chartID){
    var ctx = document.getElementById(chartID);
    var names = JSON.parse(titulo);
    var prices = JSON.parse(valor);
    color2=["#CCFFFF", "#66FF99", "#99FF99", "#66FFFF", "#FF99FF","#33FF33" ,"#33CCFF" ,"#FFCCFF" ,"#00CC00" ,"#3366FF" ,"#CC33CC","#009900" ,"#3333FF" ,"#993366","#006600", "#000099", "#663366","#003300" ,"#000066", "#330033"]
    color=["#CCFFFF", "#66FF99", "#99FF99", "#66FFFF", "#FF99FF","#33FF33" ,"#33CCFF" ,"#FFCCFF" ,"#00CC00" ,'#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000']

  // for (i=0;i<names.length;i++){
  //   var hexadecimais = '0123456789ABCDEF';
  //   var cor = '#';
  //     // Pega um número aleatório no array acima
  //     for (var i = 0; i < 6; i++ ) {
  //     //E concatena à variável cor
  //     cor += hexadecimais[Math.floor(Math.random() * 16)];
  //     color.push(cor)
  //   }
  // }

  var productsChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: names,
      datasets: [{
        label: 'Gastos R$',
        data: prices,
        backgroundColor: color,
        borderColor: "006400",
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      },
      legend: {
        display: false
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
            var value = data.datasets[0].data[tooltipItem.index];
            var label = data.labels[tooltipItem.index];
            return label +' : '+ converteFloatMoeda(value);
          }
        }
      }
    },
  });
}


function graficoBarra3(titulo,valor1,valor2,valor3,chartID){
  var ctx = document.getElementById(chartID);
  var names = JSON.parse(titulo);
  var valor1 = JSON.parse(valor1);
  var valor2 = JSON.parse(valor2);
  var valor3 = JSON.parse(valor3);

  color=[]
  for (i=0;i<names.length;i++){

    if (i%2 == 0){
      color.push("#4B0082")
    }
    else{
      color.push("#00FF00 ")
    }
  }


  var productsChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: names,
      datasets: [{
        label: 'Saúde em R$',
        data: valor1,
        backgroundColor: "006400",
        borderColor: "006400",
        borderWidth: 1
      },
      {
        label: 'Educação em R$',
        data: valor2,
        backgroundColor: "FFFF00",
        borderColor: "FFFF00",
        borderWidth: 1
      },
      {
        label: 'Admin em R$',
        data: valor3,
        backgroundColor: "00FF00",
        borderColor: "00FF00",
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
}

function graficoBarraV_Moeda(titulo,valor,chartID){
  var ctx = document.getElementById(chartID);
  var names = JSON.parse(titulo);
  var prices = JSON.parse(valor);


  var productsChart = new Chart(ctx, {
    type: 'bar',

    data: {
      labels: names,
      datasets: [{
        label: 'Gastos R$',
        data: prices,
        backgroundColor: "#006400",
        borderColor: "006400",
        borderWidth: 1
      }]
    },

    options: {

      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      },

      legend: {
        display: false
      },

      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
            var value = data.datasets[0].data[tooltipItem.index];
            var label = data.labels[tooltipItem.index];
            return converteFloatMoeda(value);
          }
        }
      }
    },
  });
}
function graficoBarraV_MoedaFlag(titulo,valor,flag,chartID,n_posMin,n_posMax){
  var ctx = document.getElementById(chartID);
  var names = JSON.parse(titulo);
  var prices = JSON.parse(valor);
  color=[]
  for (i=0;i<names.length;i++){

    if (flag == names[i]){
      color.push("#FFFF00")
    }
    else if(i == n_posMin){
      color.push("#FF0000")
    }
    else if (i == n_posMax){
      color.push("#0000FF")
    }
    else{
      color.push("#006400")
    }
  }

  var productsChart = new Chart(ctx, {
    type: 'bar',

    data: {
      labels: names,
      datasets: [{
        label: 'Gastos R$',
        data: prices,
        backgroundColor: color,
        borderColor: "006400",
        borderWidth: 1
      }]
    },

    options: {

      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      },

      legend: {
        display: false,
      },

      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
            var value = data.datasets[0].data[tooltipItem.index];
            var label = data.labels[tooltipItem.index];
            return converteFloatMoeda(value);
          }
        }
      }
    },
  });
}

function converteFloatMoeda(valor){
    var inteiro = null, decimal = null, c = null, j = null;
    var aux = new Array();
    valor = ""+valor;
    c = valor.indexOf(".",0);
    //encontrou o ponto na string
    if(c > 0){
       //separa as partes em inteiro e decimal
       inteiro = valor.substring(0,c);
       decimal = valor.substring(c+1,valor.length);
     }else{
       inteiro = valor;
     }

    //pega a parte inteiro de 3 em 3 partes
    for (j = inteiro.length, c = 0; j > 0; j-=3, c++){
     aux[c]=inteiro.substring(j-3,j);
   }

    //percorre a string acrescentando os pontos
    inteiro = "";
    for(c = aux.length-1; c >= 0; c--){
     inteiro += aux[c]+'.';
   }
    //retirando o ultimo ponto e finalizando a parte inteiro
    
    inteiro = inteiro.substring(0,inteiro.length-1);
    
    decimal = parseInt(decimal);
    if(isNaN(decimal)){
     decimal = "00";
   }else{
     decimal = ""+decimal;
     if(decimal.length === 1){
      decimal = decimal+"0";
    }
  }


  valor = "R$ "+inteiro+","+decimal;


  return valor;
}
</script>
<style>
    .chart-legend ul {
  list-style: none;
   width: 100%;
   margin: 30px auto 0;
  }
  .chart-legend li {
   text-indent: 16px;
   line-height: 24px;
   position: relative;
   font-weight: 200;
   display: block;
   float: left;
   width: 50%;
   font-size: 0.8em;
  }
  .chart-legend li:before {
   display: block;
   width: 10px;
   height: 16px;
   position: absolute;
   left: 0;
   top: 3px;
   content: "";
  }
  .primeiro:before { background-color: #0000FF; }
  .ultimo:before { background-color: #FF0000; }
  .atual:before { background-color: #FFFF00; }
  .demais:before { background-color: #006400; }
</style>
<script>
  graficoBarraV_MoedaFlag('{{ mediaSaudeLista_labels | safe }}','{{mediaSaudeLista_valor | safe }}','{{ cidade2 }}',"productsChart12", '{{ n_posMinSaude }}','{{ n_posMaxSaude }}');
  graficoBarraV_MoedaFlag('{{ mediaEducacaoLista_labels | safe }}','{{mediaEducacaoLista_valor | safe }}','{{ cidade2 }}',"productsChart13", '{{ n_posMinEducacao }}','{{ n_posMaxEducacao }}');
  graficoBarraV_MoedaFlag('{{ mediaAdminLista_labels | safe }}','{{mediaAdminLista_valor | safe }}','{{ cidade2 }}',"productsChart14", '{{ n_posMinAdmin }}','{{ n_posMaxAdmin }}');

  graficoBarraH('{{ nomeOrgao | safe }}','{{valorOrgao | safe }}',"productsChart1");
  graficoBarraV('{{ nomeFuncao | safe }}','{{valorFuncao | safe }}',"productsChart2");
  graficoBarraP('{{ nomeFuncao | safe }}','{{valorFuncao | safe }}',"productsChart3");
  graficoBarraH('{{ nomeSubFuncao | safe }}','{{valorSubFuncao | safe }}',"productsChart4");
  graficoBarraP('{{ nomeSubFuncao | safe }}','{{valorSubFuncao | safe }}',"productsChart5");
  graficoBarraH('{{ nomeProjeto | safe }}','{{valorProjeto | safe }}',"productsChart6");
  graficoBarraH('{{ nomeDiarias | safe }}','{{valorDiarias | safe }}',"productsChart6.1");
  // graficoBarra2('{{ nomeSaudePopul | safe }}','{{valorSaudePopul | safe }}','{{valorEducacaoPopul | safe }}',"productsChart7");
  graficoBarra3('{{ nomeSaudePopul | safe }}','{{valorSaudePopul | safe }}','{{valorEducacaoPopul | safe }}','{{valorAdminPopul | safe }}',"productsChart7");
</script>

</body>

</html>
